@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, "Montserrat", sans-serif;*/
 
}

* {
  box-sizing: border-box;
}

@layer components{
  .underlineNav{
    @apply after:content-[""] after:bg-[#B1B2FF] after:w-6 after:justify-center after:h-[3px] after:flex after:mx-auto after:rounded
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
